@import "tailwindcss";

@layer theme {
}

@layer components {
  /* Header */
  .site-header {
    @apply fixed top-0 left-0 w-full z-50 bg-white shadow-md;
  }

  .navbar {
    @apply w-full max-w-7xl;
  }

  .navbar-brand {
    @apply font-bold text-gray-800;
  }

  .navbar-list {
    @apply flex list-none gap-6 p-4;
  }

  .navbar-link {
    @apply text-gray-700 transition hover:text-blue-500;
  }

  /*  Footer */
  .site-footer {
    @apply bg-blue-950 text-center text-white;
  }

  /* About */
  .filter_img {
    @apply absolute inset-0 bg-gray-950/70 shadow-2xl blur-md;
  }

  /* Card - Boxes */
  .card {
    @apply flex flex-col p-6 bg-zinc-50 border-blue-950 border-2 rounded-xl font-bold shadow-2xl hover:border-blue-600 transition delay-200;
  }

  .card-title {
    @apply flex justify-center text-5xl font-bold text-blue-950;
  }
  
  .card-desc {
    @apply flex justify-center pt-5 font-medium text-sm font-bold text-zinc-800;
  }

  .card-img {
    @apply relative rounded-xl aspect-[2/3];
  }

  .card-img-title {
    @apply text-3xl font-bold text-yellow-400;
  }

  .card-img-desc {
    @apply text-sm text-white;
  }

  .card-img-overlay {
      @apply absolute inset-0 bg-gradient-to-b from-transparent via-black/30 to-black/70 backdrop-brightness-75;
  }

  .box {
    @apply flex flex-col p-6 bg-zinc-50 border-blue-950 border-2 rounded-xl font-bold shadow-2xl hover:border-blue-600 transition delay-200;
  }

  .box-title {
    @apply flex justify-center text-2xl font-bold text-blue-950;
  }

  .box-desc {
    @apply flex justify-center pt-5 font-medium text-sm font-bold text-zinc-800;
  }

  /* Timeline */
  .dot-timeline {
    @apply absolute w-4 h-4 rounded-full mt-1.5 border bg-yellow-400 border-yellow-400 -left-2;
  }

  .timeline-date {
    @apply p-2 text-sm border-black bg-zinc-50 rounded-lg;
  }

  /* Tag */
  .tag-box {
    @apply pt-5 flex space-x-3;
  }
  .tag-txt {
    @apply pt-0.5 pb-0.5 pl-2 pr-2 text-sm border-black bg-zinc-100 rounded-lg;
  }
}

@layer base {
    header {
      background-color: white;
    }
    body {
      background-color: white;
    }

    footer {
      background-color: navy;
    }

    main {
      @apply min-h-screen max-w-7xl mx-auto px-6 md:px-2;
    }

    section {
      @apply pt-32;
    }
       
    h1 {
        @apply font-bold text-3xl pb-8;
        color: navy;
    }

    h2 {
        @apply font-bold text-xl pt-5 pb-3;
        color: black;
    }

    p {
      @apply text-zinc-700;
    }

    a {
      @apply p-2 font-bold text-yellow-400 hover:text-yellow-500;
    }
}